*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.pop {
    animation: popOut 0.35s ease forwards;
  }
  
@keyframes popOut {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
    60% {
      transform: scale(1.05) translateY(-8px);
      opacity: 0.7;
    }
    100% {
      transform: scale(0.8) translateY(-20px);
      opacity: 0;
    }
  }
  
body{
    font-family: PlayfairDisplay,serif;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f6f5ff ;
    
    
}
.container{
    background-color: #f4e6ff;
    width: 500px;
    box-shadow: 0 4px 12px rgba(124,124,255,0.12);
    border-radius: 15px;
    padding: 25px;
}
h1{
    text-align: center;
    color: #1f2937;
    
}
#todo-input{
    background-color: #ffffff;
    color: #242424;
    border: 1px solid rgba(36, 36, 36, 0.884);
    border-radius: 5px;

}
.input-container{
    margin-top: px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    

}
input[type="text"]{
    width: 60%;
    padding: 5px
}
button{
    background-color: #aaaafa;
    padding: 3px;
    margin-left: 10px;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
    border: none;
}

    .delete {
    background-color: white;
    border: none;
    margin-left: auto;
    border-radius: 8px;
    padding-right: 0px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
  
  }
      


ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #c7d2fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li.completed {
    text-decoration: line-through;
    opacity: 0.7;
    background-color: #e6eaf8;
  }

  
  .delete:hover{
    opacity: 1;
  }